
html{
    margin-bottom: 0;
}

body{
    /* background-color: ; */
    background:#3e8c71 url('./pic/pattern.png') ;   
    /* background-position:left top; 
    background-size: 3%;
    background-repeat:repeat;
    margin-bottom: 0; */

}

/* body::before{
    content: "";
    background: url('./pic/pattern.png');
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
} */






#minigame{
    text-align: center;
    font-size: 75px;
    color: bisque;
}

p#result{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 490px;
    height: 67px;
    box-sizing: border-box;
    background-color: brown;
    margin: 0 auto 20px;
    font:bold 25px Arail,sans-serif;
    text-shadow: 3px 3px 4px black;
}



#box{
    width: 800px; 
    margin: 0 auto 50px;
    border:5px solid white;
    padding: 25px;
    box-sizing: border-box;
    background-color: #186a4e;
}


#btn{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

#btn>button{
    padding: 20px 50px;
    border:none;
    color:white;
    background-color:white ;
    margin: 0 25px;
    font:bold 20px Arail,sans-serif;
    text-shadow: 2px 2px 3px black;
}

#btn>button:last-child{
    background-color: #666;
}


#container{
    display: flex;
    justify-content: space-evenly;
    border: 5px solid white;
    text-align: center;
    padding: 20px;
}


#container>div>h1{
    font: bold 25px '나눔고딕',sans-serif;
    color: white;
    margin-bottom: 20px;
    text-shadow: 3px 3px 4px black;

}


#container>div>figure{
    padding-top: 20px;
    width: 250px;
    border: 5px solid white;
}

#container>div>figure>img{
    background-color: rgb(119,98, 83);
    width: 193px;
    height: 203px;
    margin-bottom: 10px;
}

#container>div>figure:last-child>img{
    background-color: rgb(40,80,102);
}


#container>div>figure dl{
    width: 83%;
    margin: 0 auto;
    background-color: #c2f4b9;
    padding-top:5px;
    padding-bottom: 13px;
}
#container>div>figure dt{
    text-align: left;
    color: white;
    margin-bottom: 25px;
    text-shadow: 2px 2px 2px black;
    font-size:25px ;
}   
#container>div>figure dd{
    color: yellow;
    line-height: 20px;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
    text-align: center;
    margin-left: 0;
    text-shadow: 3px 3px 3px black;
}

#container>div>figure>figcaption{
    padding-bottom: 14px;
}
